p  {}

h1  {
	font-weight : bold;
	color : black;
}

h2  {}

h3  {}

a  {
	color : #5caa6e;
}

a:visited  {
	color : #5caa6e;
}

a:active  {
	color : #8affa5;
	text-decoration : underline;
}

a:hover  {
	color : #8affa5;
	text-decoration : underline;
}

body  {
	font-size : 10pt;
	font-family : Arial;
	color : white;
	background-color : black;
}

.newstitle  {
	font-family : Arial;
	font-weight : bold;
	color : white;
	font-size : 12pt;
}

.newsitem  {
	font-family : Arial;
	color : silver;
	font-size : 10pt;
}

.title  {
	font-family : Arial;
	font-weight : bold;
	color : white;
	font-size : 12pt;
}

.copy  {
	font-size : 10pt;
	font-family : Arial;
	color : white;
}

.full_width_container  {
	width : 95%;
}

.full_width_container .copy  {
	text-align : left;
}

.form_required  {
	font-size : 10pt;
	font-family : Arial;
	color : white;
}

.form  {
	font-size : 10pt;
	font-family : Arial;
	color : silver;
}

.recruit  {
	font-size : 8pt;
	font-family : Arial;
	color : white;
}

.admin_table  {
	font-size : 8pt;
	font-family : Arial;
	color : white;
}

.squadtable  {
	font-size : 8pt;
	font-family : Arial;
	color : white;
}

.mapcaption  {
	font-size : 8pt;
	font-family : Arial;
	color : white;
}

.question  {
	font-size : 10pt;
	font-family : Arial;
	color : #5A63F7;
}

.answer  {
	font-size : 10pt;
	font-family : Arial;
	color : white;
}

.editor  {
	font-family : Arial;
	font-size : 10pt;
	color : silver;
}

.error  {
    color : red;
}
