<?php
// This is the server relative path to the resources, used for including images, etc.  Leaving it empty works in many cases.
define('RELATIVEPATH','');
// These are a salt for the login system.  Changing this on the server makes it very difficult to hijack accounts via the cookie-based auth system.
define('HASH_SALT_PRE','');
define('HASH_SALT_POST','');
define('MAX_SECTOR_PATHS','5');
define('SITE_CODE','FS2');
define('SUPPORT_EMAIL','fs2netd@gmail.com');
define('ADMIN_NAME','FS2NetD Administration');
define('SQUADWAR_DB','squadwar'); // Should be same as database in mysql.conf.
define('USER_DB','fs2netd'); // Database for FS2NetD user data that should already exist.
define('NEWS_DB','internetsql'); // Database for SquadWar news.
define('TABLE_PREFIX',''); // If you installed tables in a shared database using a table name prefix, define it here.
define('FS2NETD_HOME','fs2netd.game-warden.com');
define('FS2_PURCHASE_URL','http://www.gog.com/game/freespace_2');
define('SITE_TITLE', 'SquadWar');
define('TITLE_SEPARATOR', ' | ');
define('GV_BINPATH', ''); // Path to GraphViz binaries, for league map.  If not empty, must end in trailing slash.
